.hero-section{
    background: #E5E5E5;
    padding: 100px 50px;
}
/* .section-padding{
    padding: 100px 50px;
} */
.hero-section .main{
    display: flex;
    align-items: center;
}
.hero-section .main .left{
    width: 50%;
}
.hero-section .main .right{
    width: 50%;
}
.hero-section .main .right img{
    width: 100%;
    transition: all .5s ease-in-out;
}
.hero-section .main .right img:hover{
    transform: scale(1.02);
}
.hero-section .main .left h1{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 35px;
    color: #B9314F;
}
.hero-section .main .left p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
    padding-right: 30px;
    text-align: justify;
    line-height: 28px;
    color: #0A0A0A;
}
.hero-section .main .left button{
    padding: 15px 25px;
    border: 1px solid #0A0A0A;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.hero-section .main .left button:hover{
    background: #B9314F;
    color: #fff;
    transform: scale(1.02);
}
@media screen and (max-width: 800px) {
    .hero-section .main{
        display: block;
        align-items: center;
    }
    .hero-section .main .left{
        width: 100%;
    }
    .hero-section .main .right{
        margin-top: 40px;
        width: 100%;
    }
}
/* vission-mission */

.vission-mission{
    background-color: #aeaeae;
}
.vission-mission .main{
    display: flex;
    width: 100%;
}
.vission-mission .main .mission{
    width: 50%;
    text-align: right;
    padding-right: 20px;
    padding: 50px;
    background-color: #B9314F;
}
.vission-mission .main .vission{
    width: 50%;
    padding: 50px;
    background-color: #75B9BE;
}
.vission-mission .mission h1, .vission-mission .mission p{
    color: #fff;
}
.vission-mission .mission h1, .vission-mission .vission h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
.vission-mission .mission p, .vission-mission .vission p{
    line-height: 28px;
    font-size: 18px;
    text-align: right;
}
.vission-mission .vission p{
    text-align: left;
}
@media screen and (max-width: 800px) {
    .vission-mission .main{
        display: inline-block;
        width: 100% !important;
    }
    .vission-mission .main .mission{
        width: 87%;
        padding: 30px;
    }
    .vission-mission .main .vission{
        width: 87%;
        padding: 30px;
    }
}

/* service-section */

.service-section{
    padding: 30px;
    background-color: #fff;
}
.service-section .main{
    width: 100%;
}
.service-section .main .row{
    width: 100%;
    display: flex;
}
.service-section .main .row .service{
    /* border: 1px solid #000; */
    margin: 10px;
    padding: 40px 30px;
    text-align: center;
    border-radius: 10px;
    /* box-shadow: 2px 5px 10px #75B9BE; */
    background: #fff;
    box-shadow: rgba(125, 122, 122, 0.5) 0px 7px 20px 0px;
    transition: all .1s ease-in-out;
    
}
.service-section .main .service i{
    color: #B9314F;
    font-size: 50px;
    padding: 15px;
    background: #75B9BE;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;

}
.service-section .main .service h3{
    margin: 15px 0;
}
.service-section .main .service p{
    line-height: 25px;
    font-weight: 500;
}
.service-section .main .service:hover i{
    transform: rotate(45deg);
    background: #B9314F;
    color: #fff;
}