/* 
primary : #B9314F
s: #75B9BE
t: #0A0A0A
bg: #F5F5F5 
white : #FFFFFF
*/


/* Creating variable */
:root{
    --primary: #B9314F;
    --secondary: #75B9BE;
    --text: #0A0A0A;
    --bg-color: #F5F5F5;
    --white: #ffffff;
}


.hero-section{
    background: var(--bg-color);
    padding: 100px 50px;
}
/* .section-padding{
    padding: 100px 50px;
} */
.hero-section .main{
    display: flex;
    align-items: center;
}
.hero-section .main .left{
    width: 50%;
}
.hero-section .main .right{
    width: 50%;
}
.hero-section .main .right img{
    width: 100%;
    transition: all .5s ease-in-out;
}
.hero-section .main .right img:hover{
    transform: scale(1.02);
    
}
.hero-section .main .left h1{

    font-size: 35px;
    font-weight: 800;
    margin-bottom: 35px;
    color: var(--primary);
}
.hero-section .main .left p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
    padding-right: 30px;
    text-align: justify;
    line-height: 28px;
    color: var(--text);
}
.hero-section .main .left button{
    padding: 15px 25px;
    border: 1px solid var(--text);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.hero-section .main .left button:hover{
    background: var(--primary);
    color: var(--white);
    transform: scale(1.02);
}
@media screen and (max-width: 800px) {
    .hero-section .main{
        display: block;
        align-items: center;
    }
    .hero-section .main .left{
        width: 100%;
    }
    .hero-section .main .right{
        margin-top: 40px;
        width: 100%;
    }
}
/* vission-mission */

.vission-mission{
    background-color: #aeaeae;
}
.vission-mission .main{
    display: flex;
    width: 100%;
}
.vission-mission .main .mission{
    width: 50%;
    text-align: right;
    padding-right: 20px;
    padding: 50px;
    background-color: var(--primary);
}
.vission-mission .main .vission{
    width: 50%;
    padding: 50px;
    background-color: #75B9BE;
}
.vission-mission .mission h1, .vission-mission .mission p{
    color: #fff;
}
.vission-mission .mission h1, .vission-mission .vission h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
.vission-mission .mission p, .vission-mission .vission p{
    line-height: 28px;
    font-size: 18px;
    text-align: right;
}
.vission-mission .vission p{
    text-align: left;
}
@media screen and (max-width: 800px) {
    .vission-mission .main{
        display: inline-block;
        width: 100% !important;
    }
    .vission-mission .main .mission{
        width: 87%;
        padding: 30px;
    }
    .vission-mission .main .vission{
        width: 87%;
        padding: 30px;
    }
}

/* service-section */

.service-section{
    padding: 30px;
    background-color: #fff;
}
.service-section .main{
    width: 100%;
}
.service-section .main .row{
    width: 100%;
    display: flex;
}
.service-section .main .row .service{
    /* border: 1px solid #000; */
    margin: 10px;
    padding: 40px 30px;
    text-align: center;
    border-radius: 10px;
    /* box-shadow: 2px 5px 10px #75B9BE; */
    background: #fff;
    box-shadow: rgba(125, 122, 122, 0.5) 0px 7px 20px 0px;
    transition: all .1s ease-in-out;
    
}
.service-section .main .service i{
    color: var(--primary);
    font-size: 50px;
    padding: 15px;
    background: #75B9BE;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;

}
.service-section .main .service h3{
    margin: 15px 0;
}
.service-section .main .service p{
    line-height: 25px;
    font-weight: 500;
}
.service-section .main .service:hover i{
    transform: rotate(45deg);
    background: var(--primary);
    color: #fff;
}

/* Footer */
footer{
    background: #6d6d6d;
    padding-top: 50px;
}
footer .row{
    display: flex;
    /* margin-top: 50px; */
    padding: 0 50px 20px 50px;
}
footer .row.details{
    display: flex;
    justify-content: center;
}
footer .row.details img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
}
footer .content .sec{
    width: 33.33%;
}
footer .content .sec strong{
    font-size: 20px;
    font-weight: 800;
    border-left: 4px solid var(--primary);
    padding-left: 20px;
}
footer .content .sec .list {
    margin-top: 20px;
}
footer .content .sec .list a{
    display: block;
    font-size: 18px;
    padding: 5px;
    transition: all .1s ease-in-out;
}

/* before and after */
footer .content .sec .list a::before{
    content: '';
    background-image: url(https://png.pngtree.com/png-vector/20190419/ourmid/pngtree-vector-right-arrow-icon-png-image_956430.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    padding-right: 10px;
}


footer .content .sec .list a:hover{
    padding-left: 10px;
    font-size: 19px;
    font-weight: 700;
    /* transform: scale(1.4); */
}